tmp/
python/
deploy.log

.DS_Store

builds/
cache/
etc/

conf/*
!conf/deploy.*.example
!conf/.dockerignore
!conf/gitlab-ci.yml
!conf/rsync.exclude
!conf/dockerfile/
!conf/flyway/flyway.conf
!conf/flyway/README.md
!conf/helm/flyway/
!conf/helm/README.md

data/*
!data/readme.md

bin/*
!bin/element-example.py
!bin/flyway
!bin/sendEmail