## macos
.DS_Store
## vim swap
.swp
*.log
## gitlab runner exclude
builds/
cache/
etc/
conf/deploy.env
conf/deploy.conf
conf/deploy.yml
data/**
!data/readme.md
bin/*
!bin/example-element.py
!bin/flyway
!bin/sendEmail
!bin/helm-new.sh
!bin/ssh-port-forward.sh
!bin/install-gitlab-runner.sh
## custome folder
tmp/