######################### COMMON ###############################################
# https://raw.githubusercontent.com/erdaltsksn/dockerignore/main/templates/Common.dockerignore
################################################################################
# Git
.git/
.gitignore
.gitattributes
.github
.gitlab-ci.yml
.gitlab-ci.yaml
.composer/

# Docker
.dockerignore
Dockerfile
docker-compose.yml
docker-compose.yaml
Dockerfile.flyway
flyway_conf/
flyway_sql/

# Documentation
README.md
CHANGELOG.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
SECURITY.md
doc/
docs/
!docs/nginx
!docs/run.sh
!docs/startup.sh
!docs/settings.xml
LICENSE
tests/

# macOS (optional)
.DS_Store

## vim swp
.swp

# Visual Studio Code (optional)
.vscode

# Hugo
# /public/
# /resources/_gen/

# Directory-based project format
.idea

# File-based (Legacy) project format
*.ipr
*.iml
*.iws

# Laravel
bootstrap/cache/*
storage/framework/*
storage/logs/*
# vendor/

## Node
*.log
npm-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
logs
## Dependency directories
# node_modules/
