######################### COMMON ###############################################
# https://raw.githubusercontent.com/erdaltsksn/dockerignore/main/templates/Common.dockerignore
################################################################################
# Git
.git/
.gitignore
.gitattributes
.github
.gitlab-ci.*
.composer/

# Docker
.dockerignore
Dockerfile*
docker-compose.*
flyway_conf/
flyway_sql/

# Documentation
*.md
doc/
docs/
LICENSE
tests/

# macOS (optional)
.DS_Store

## vim swp
.swp

# Visual Studio Code (optional)
.vscode

# Hugo
# /public/
# /resources/_gen/

# Directory-based project format
.idea

# File-based (Legacy) project format
*.ipr
*.iml
*.iws

# Laravel
bootstrap/cache/*
storage/framework/*
storage/logs/*
# vendor/

## Node
*.log*
package-lock.json
logs
## Dependency directories
# node_modules/
